body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

/* Previewer */

#previewBoPoMoFo {
     writing-mode: vertical-lr;
     font-size: 1.3vw;
     position: relative;
     top: 0.1vw;
}

#previewEnglish {
    width: 38%;
    padding-left: 2vw;
    text-indent: -2vw;
    font-size: 2.1vw;
    font-family: "Times New Roman",serif;
}

#previewLabel {
    font-size: 1.5vw;
    position: relative;
    top: -1vw;
}

#previewBUC {
    width: 25%;
    font-size: 2.1vw;
    font-family: "Times New Roman",serif;
}

#previewChineseWithRadicals {
    font-size: 2.3vw;
}

@media screen and (min-width: 1200px){
     #previewChineseWithRadicals {
        font-size:35px;
    }
    #previewBUC, #previewEnglish {
        font-size: 35px;
    }
    #previewBoPoMoFo {
        font-size:16px;
    }
    #previewLabel {
        font-size:25px;
    }
}
