@{
    ViewData["Title"] = "TEST";
}

@inject CrowdSource.Services.ITaskDispatcher taskDispatcher;

@{
    int t = taskDispatcher.GetNextToDo()?.GroupId ?? 0;
}
Task I Got:@t;

<a asp-controller="Test" asp-action="SubmitToDo" asp-route-gid="@t">Submit</a>