@{
    ViewData["Title"] = "队列管理";
}

@inject CrowdSource.Services.ITaskDispatcher taskDispatcher;

<a class="btn btn-danger" asp-controller="Queue" asp-action="Reload">Reload 队列</a>

<h2>待录入</h2>

<table>
    <tr>
        <th>GroupId</th>
        <th>Added</th>
    </tr>
    @foreach (var i in taskDispatcher.ListToDo()) {
    <tr>
        <td>@i.group.GroupId</td>
        <td>@i.added.ToString()</td>
    </tr>
    }
</table>


<h2>Doing</h2>

<table>
    <tr>
        <th>GroupId</th>
        <th>Added</th>
    </tr>
    @foreach (var i in taskDispatcher.ListDoing()) {
        <tr>
            <td>@i.group.GroupId</td>
            <td>@i.added.ToString()</td>
        </tr>
    }
</table>