@model IndexViewModel
@{
    ViewData["Title"] = "管理账户";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>修改你的帐号设定</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>密码:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">修改密码</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">创建密码</a>
            }
        </dd>
        <dt>外部登录:</dt>
        <dd>

            @Model.Logins.Count <a asp-controller="Manage" asp-action="ManageLogins" class="btn-bracketed">管理</a>
        </dd>
        <dt>身份:</dt>
        <dd>
            <ul>
                @foreach (var role in Model.Roles) {
                    <li>@role</li>
                }
            </ul>
        </dd>

    </dl>
</div>
