@using Microsoft.AspNetCore.Identity
@using CrowdSource.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
        <ul class="uk-navbar-nav">
            <li>
                @{var HelloString = "已登录: "; }
                @HelloString@UserManager.GetUserName(User)!
            </li>
        </ul>
}
else
{
    <ul class="uk-navbar-nav">
        <li><a asp-area="" asp-controller="Account" asp-action="Login">匿名贡献中(登录可记录贡献)</a></li>
    </ul>
}
