<div id="modal-help-pivot" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-width-3-4">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">什么是「单字条目」？</h2>
        <p>闽英大辞典中，每当出现一个新汉字时，就会有一个特殊的词条（一行）。这种特殊行我们叫“单字条目”。</p>
        <p class="img-container"><img src="/help/images/pivot.png" alt=""></p>
        <p>录入“单字条目”时，要把“偏旁”、“国语注音”填到不同的框里。像下面这样：</p>
        <p class="img-container"><img src="/help/images/pivot2.png" alt=""></p>
    </div>
</div>