<div id="modal-help-pivot" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-width-3-4">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">什么是「单字条目」？</h2>
        <p>榕腔注音辞典中，每当出现一个新汉字时，就会有一个特殊的词条（一行）。这种特殊行我们叫“单字条目”。</p>
        <p class="img-container"><img src="https://ztl8702.github.io/adfd/images/pivot.png" alt=""></p>
        <p>录入“单字条目”时，要把“偏旁”、“国语注音”填到不同的框里。像下面这样：</p>
        <p class="img-container"><img src="https://ztl8702.github.io/adfd/images/pivot2.png" alt=""></p>
    </div>
</div>

<div id="modal-help-marks" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-width-3-4">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">什么是「标志」？</h2>
        <p>待补充</p>
    </div>
</div>


<div id="modal-help-traditional" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-width-3-4">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">怎么录入繁体字？</h2>
        <h3>繁体字输入法</h3>
        <p>常见的输入法都有“繁体”模式:</p>

        <ul uk-accordion>
            <li class="uk-open">
                <h3 class="uk-accordion-title">搜狗输入法</h3>
                <div class="uk-accordion-content">
                    <p>在状态栏上面右键菜单里的【简-&gt;繁】选中即可进入到繁体中文状态。再点击一下即可返回到简体中文状态。</p>
                </div>
            </li>
            <li>
                <h3 class="uk-accordion-title">QQ输入法</h3>
                <div class="uk-accordion-content">
                    <p>右键点击状态栏，在菜单里选择“繁体模式”，即可以进行繁体切换。</p>
                </div>
            </li>
            <li>
                <h3 class="uk-accordion-title">Win10 自带拼音输入法</h3>
                <div class="uk-accordion-content">
                    <p>右键状态栏上的【中】图标，打开设置，设置为繁体。</p>
                </div>
            </li>
        </ul>

        <p>如果你想要更好的繁体字输入。我们推荐<a href="http://rime.im/">RIME 输入法</a>。</p>
    </div>
</div>

<div id="modal-help-yinan" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-width-3-4">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">疑难字怎么办？</h2>
        <p>遇到输入法打不出的汉字，你可以尝试以下方法：</p>
        <ol uk-accordion>
            <li>
                <h3 class="uk-accordion-title">输入法自带的手写板功能</h3>
                <div class="uk-accordion-content">
                </div>
            </li>
            <li>
                <h3 class="uk-accordion-title">输入法的【部首组字】功能</h3>
                <div class="uk-accordion-content">如搜狗输入法的<a href="http://pinyin.sogou.com/help.php?list=3&amp;q=8">“U模式”。</a></div>
            </li>

            <li>
                <h3 class="uk-accordion-title">两分查字</h3>
                <div class="uk-accordion-content">
                    <p>用字海 zisea.com 的<a href="http://zisea.com/zslf.htm">两分查字</a>功能。</p>
                    <p class="img-container"><img src="https://ztl8702.github.io/adfd/images/zisea.png" alt=""></p>
                </div>
            </li>
            <li>
                <h3 class="uk-accordion-title">Glyphwiki</h3>
                <div class="uk-accordion-content">
                    <p>用<a href="http://zhs.glyphwiki.org/wiki/GlyphWiki:首页">Glyphwiki</a>来查找异体字。以查“厦”的异体字为例。</p>
                    <p class="img-container"><img src="https://ztl8702.github.io/adfd/images/glyphwiki1.png" alt=""></p>
                    <p class="img-container"><img src="https://ztl8702.github.io/adfd/images/glyphwiki2.png" alt=""></p>
                </div>
            </li>
        </ol>
        <p>如果实在没办法，可以点“换一条”，或者到<a href="#qqgroup">QQ群</a>求助。</p>
    </div>
</div>