<table style="width: 100%;">
    <tbody>
        <tr style="text-align:center; vertical-align: top;">
            <td style="width: 13%;"></td>
            <td style="width: 25%;">
                <span style="color:green" id="ModeIndicator__buc__on">
                    <i class="fa fa-pencil" aria-hidden="true"></i> 罗马字
                </span>
                <span style="display: none" id="ModeIndicator__buc__off">
                    <i class="fa fa-ban" aria-hidden="true"></i> 罗马字
                </span>
            </td>
            <td style="width: 15%;">                
                <span style="color:green" id="ModeIndicator__chi__on">
                    <i class="fa fa-pencil" aria-hidden="true"></i> 汉字
                </span>
                <span style="display: none" id="ModeIndicator__chi__off">
                    <i class="fa fa-ban" aria-hidden="true"></i> 汉字
                </span>
            </td>
            <td style="width: 38%;">               
                <span style="color:green" id="ModeIndicator__eng__on">
                    <i class="fa fa-pencil" aria-hidden="true"></i> 英文
                </span>
                <span style="display: none" id="ModeIndicator__eng__off">
                    <i class="fa fa-ban" aria-hidden="true"></i> 英文
                </span>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>