@* 录入View 同时录入 罗马字、汉字、英文 这个View 同时也用作管理和校对。 *@ 
@{ Layout = "_EditorLayout"; } 
@model GroupViewModel 
@{ 
    Object tmp = null;
    ViewData.TryGetValue("Review", out tmp);
    
    bool isReview = false; 
    
    if (tmp !=null && (bool)tmp) 
    {
         isReview = true; 
    }
    
    bool isAdmin = (bool)ViewData["Admin"]; 

    if (!isReview) 
    {
         ViewData["Title"] = "编辑 / 录入"; 
    }
    else
    {
         ViewData["Title"] = "校对"; 
    }

}
<div class="uk-flex uk-flex-column" id="container">
    <nav id="nav" class="uk-navbar-container uk-margin" uk-navbar>
        <!-- left -->
        <div class="uk-navbar-left">

            <ul class="uk-navbar-nav">
                <a class="uk-navbar-item uk-logo" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
返回首页</a>
                <li class="uk-active "><a href="https://ztl8702.github.io/adfd/" target="_blank" class="uk-text-large">帮助</a></li>
            </ul>

        </div>

        <!-- right -->
        <div class="uk-navbar-right">
@*
            <ul class="uk-navbar-nav">
                <li> <a href="#">注册</a> </li>
                <li><a href="#">登录</a></li>
            </ul>
*@
           @await Html.PartialAsync("_EditorLoginPartial")
            <ul class="uk-navbar-nav">
                <li id="RestartTour"> <a href="#">帮助向导</a> </li>
            </ul>
        </div>
    </nav>
    <div uk-grid class="uk-flex uk-flex-stretch uk-flex-1 uk-flex-row" id="mainPanel">
        <div class="uk-flex-1 uk-flex uk-flex-column" id="leftPanel">
            <div class="uk-padding-small uk-flex uk-flex-column uk-flex-1">
                <div>
                    <h3 class="uk-heading-divider">原始图片 #@Model.GroupId <span class="uk-text-large uk-text-muted">鼠标移上去放大。</span></h3>
                </div>
                <div class="uk-flex-1 uk-flex-column uk-flex-left">
                    <div class="uk-alert-warning" uk-alert id="narrowScreenWarning">
                        <a class="uk-alert-close" uk-close></a>
                        <p>屏幕窗口太小了。请最大化窗口。或按 Ctrl+减号 缩小比例尺。</p>
                    </div>
                    <div id="OriginalImage" class="uk-background-muted uk-padding-small">
                        @await Component.InvokeAsync("DisplayGroup", new { GroupId = Model.GroupId }) @await Html.PartialAsync("_ModeIndicatorPartial")
                    </div>
                    <div class="uk-background uk-padding-small">
                        
                    </div>
                </div>
            </div>
            <div id="PreviewPanel" class="uk-padding-small uk-flex-1 uk-flex uk-flex-column">
                <div>
                    <h3 class="uk-heading-divider">预览</h3>
                </div>
                <div class="uk-flex-1 uk-background">
                    @await Html.PartialAsync("_PreviewerPartial")
                </div>
            </div>
        </div>

        <div id="rightPanel" class="uk-flex uk-flex-column uk-background uk-background-muted">

            <div id="rightPanel__title">
                <h2 class="uk-text-bold">录入模式</h2>
            </div>
            <div id="selector" class="uk-background-muted uk-flex uk-flex-row">

                <div class="uk-form-label uk-text" id="selector__label">
                    我要录入:
                </div>

                <select tabindex="-1" id="editorMode" class="uk-select uk-text-large uk-flex-1">
                         <option value="all">全部同时打 （罗马字+汉字+英文）</option>
                          <option value="buc">只打 罗马字</option>
                          <option value="chi">只打 汉字</option>
                          <option value="eng">只打 英文</option>
                    </select>
            </div>

            <div id="editor" class="uk-padding-small uk-background uk-flex-1">
                <form id="editorForm" asp-controller="CrowdSource" asp-action="SubmitGroup" method="post" role="form" autocomplete="off">

                    <div id="editorBUC">
                        <h2 class="uk-heading-divider">罗马字</h2>
                        <input autofocus tabindex="1" class="uk-input" asp-for="TextBUC" placeholder="在这里打左边图片中的罗马字...">
                        <button tabindex="-1" type="button" id="BUCSetEmptyBtn" class="uk-button uk-button-default uk-button-small">这栏是空白</button>
                        <hr class="uk-divider-icon">
                    </div>

                    <div id="editorChinese">
                        <h2 class="uk-heading-divider">汉字 | 漢字                        <a class="uk-text-primary uk-text-small" href="#modal-help-yinan" tabindex="-1" uk-toggle>疑难字?</a></h2>
                        <div class="uk-alert-warning" uk-alert>
                            <a class="uk-alert-close" uk-close></a>
                            <p>繁体字也要如实打哦。<a class="uk-text-primary uk-text-small" href="#modal-help-traditional" tabindex="-1" uk-toggle>怎么打?</a></p>
                        </div>
                        <input tabindex="2" class="uk-input" asp-for="TextChinese" placeholder="在這裏打左邊圖中的漢字...">
                        <h3 class="uk-heading-divider">标志<a class="uk-text-primary uk-text-small" href="#modal-help-marks" tabindex="-1" uk-toggle>这是什么?</a></h3>
                        <div class="uk-margin uk-grid-small uk-child-width-auto" uk-grid>
                            <label><input tabindex="3" class="uk-checkbox" asp-for="IsOral"> 
                            <img src="~/images/oral.png" style="max-height:20px;" />
                            </label>
                            <label><input tabindex="4" class="uk-checkbox" asp-for="IsLiterary"> 
                            <img src="~/images/literary.png" style="max-height:20px;" />
                            </label>
                        </div>
                        <h3 class="uk-heading-divider">单字条目<a class="uk-text-primary uk-text-small" href="#modal-help-pivot" tabindex="-1" uk-toggle>这是什么?</a>
                        </h3>
                        <label><input tabindex="5" class="uk-checkbox" asp-for="IsPivotRow" >这行是【单字条目】</label>
                        <div id="PivotRowSpecificFields" class="uk-flex uk-grid-small">
                            <div>
                                <h4 class="uk-heading-divider">偏旁</h4>
                                <input tabindex="6" class="uk-input" asp-for="Radical" />
                            </div>
                            <div>
                                <h4 class="uk-heading-divider">国语注音</h4>
                                <input tabindex="7" class="uk-input" asp-for="BoPoMoFo" />
                            </div>
                        </div>
                        <hr class="uk-divider-icon">
                    </div>

                    <div id="editorEnglish">
                        <h2 class="uk-heading-divider">英文</h2>
                        <input tabindex="8" class="uk-input" asp-for="TextEnglish" placeholder="在这里打左边图片中的英文...">
                        <hr class="uk-divider-icon">
                    </div>
                    <input type="hidden" asp-for="GroupId" />
                </form>
            </div>



            <div class="uk-margin-small" id="rightPanel_buttons">
                <div class="uk-button-group uk-flex uk-flex-around">
                    <a class="uk-button uk-button-danger mybtn" href="#" id="btnReport">图片不清楚</a>
                    <a id="btnSubmit" class="uk-button uk-button-primary mybtn" title="Ctrl+S" uk-tooltip>提交 & 下一个 <br /> Ctrl + S</a>
                    <a tabindex="-1" id="btnSkip" class="uk-button uk-button mybtn" href="#" title="F2" uk-tooltip>换一条 <br /> F2</a>
                </div>
            </div>

        </div>
        <!--rightPanel-->
    </div>
</div>
<form id="reportForm" asp-controller="CrowdSource" asp-action="ReportError" method="post" role="form" autocomplete="off">
    <input type="hidden" asp-for="GroupId" />
</form>

<form id="skipForm" asp-controller="CrowdSource" asp-action="RedirectToEditGroup" method="post" role="form" autocomplete="off">
</form>
@await Html.PartialAsync("_HelpPartial")
@await Html.PartialAsync("_TourPartial")