@using Microsoft.AspNetCore.Identity
@using CrowdSource.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
{
    <ul class="nav navbar-nav navbar-left">
        <li><a asp-area="" asp-controller="Collections" asp-action="Index">管理条目</a></li>
        <li><a asp-area="" asp-controller="Queue" asp-action="List">队列管理</a></li>
    </ul>
}
