<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 闽英众包</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/keyboard/dist/css/keyboard.min.css" />
        <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.css" />
        <link rel="stylesheet" href="~/lib/uikit/css/uikit.min.css" />
        <link rel="stylesheet" href="~/lib/magnify/css/magnify.css">
        <link rel="stylesheet" href="~/css/previewer.css" />
        <link rel="stylesheet" href="~/css/editor.css" />    
    </environment>
    
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/keyboard/dist/css/keyboard.min.css" />
        <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css" />
        <link rel="stylesheet" href="~/lib/uikit/css/uikit.min.css" />
        <link rel="stylesheet" href="~/lib/magnify/css/magnify.css">
        <link rel="stylesheet" href="~/css/previewer.min.css" />
        <link rel="stylesheet" href="~/css/editor.min.css" />
    </environment>
</head>
<body>
@RenderBody()

@await Html.PartialAsync("_GoogleAnalyticsPartial")


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/magnify/js/jquery.magnify.js"></script>
        <script src="~/lib/keyboard/dist/js/jquery.keyboard.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>
        <script src="~/lib/uikit/js/uikit.min.js"></script>
        <script src="~/lib/mousetrap/mousetrap.min.js"></script>
        <script src="~/js/keyboard.layouts.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/editor.js" asp-append-version="true"></script>
        <script src="~/js/zoomer.js" asp-append-version="true"></script>
        <script src="~/js/attachKeyboards.js" asp-append-version="true"></script>
        <script src="~/js/previewer.js" asp-append-version="true"></script>
        <script src="~/js/editorModeSwitcher.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/lib/magnify/js/jquery.magnify.js"></script>
        <script src="~/lib/keyboard/dist/js/jquery.keyboard.min.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/lib/uikit/js/uikit.min.js"></script>
        <script src="~/lib/mousetrap/mousetrap.min.js"></script>
        <script src="~/js/keyboard.layouts.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
