<table style="width: 100%;">
  <tbody>
    <tr style="vertical-align: top;">
        <td style="width: 13%;"></td>
        <td id="previewBUC">
        </td>
        <td style="width: 15%;">
            <span id="previewRadical"></span>
            <span id="previewChinese"></span>
            <span id="previewBoPoMoFo"></span>
            <span id="previewLabel"></span>
        </td>
        <td id="previewEnglish">
        </td>
        <td></td>
    </tr>
  </tbody>
</table>