@model string

@{
    var timeString = DateTime.Now.ToString().GetHashCode();
    var url = Model + '?' + timeString;
}
<img class="groupImg img-responsive" src="@url"/>
@*<a>@ViewData["FileName"]</a>*@