@model CrowdSource.Models.CoreModels.Group

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Group @Model.GroupId</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    
    <form asp-action="GroupDeleteConfirmed">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="ListGroupsInOneCollection" asp-route-id="@Model.Collection.CollectionId">Back to List</a>
        </div>
    </form>
</div>
